
<div class="row">
    <div class="col-md-3">
        <input type="text" id="from" class="form-control" placeholder="From" />
    </div>
    <div class="col-md-3">
        <input type="text" id="to" class="form-control" placeholder="To" />
    </div>
    <div class="col-md-3">
        <button id="get-number" class="btn btn-primary">Get Random Number</button>
    </div>
</div>

<ul id="output" style="font-size: 25px; font-weight: bold;">
</ul>

@section Scripts
{
    <script src="/js/index.js"></script>
}
